#main
{
	background-color:#113322;
}

Button
{

}

Button :hover
{
	
}
Button :active
{
	-button-text-color:#123456;
}

Button :inactive
{

}

.Fancy__button
{
	-button-text-color:#123456;
	flex:none;
	width:200px;
}
.Fancy__button:hover
{

}
.Fancy__button:active
{

}
.Fancy__button:inactive
{

}

Toggle
{

}

Toggle :hover
{

}
Toggle :checked
{

}

#title
{
	color:#0F6D08;
	font-size:30;
	font-style: bold-and-italic;
	-unity-text-align: middle-center;
}